@use '@utils/utils' as *; 

.constructor{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  &__row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: em(17);

    &:first-child{
      margin-bottom: em(5); 

      .constructor__central-column{
        display: flex;
        justify-content: flex-end;
      }
    }

    &_last{
      margin-bottom: em(5);
    }
  }

  &__icon{
    width: em(60);
  }

  &__central-column{
    width: #{100/12*8}+'%';
  }

  &__column{
    width: #{(100/12)}+'%';
  }

  &__text{
    font: bold em(24) Lato;
    color: $darkGray;
    text-transform: uppercase;
    margin: 0;
  }

  &__number{
    font: em(30) Lato;
    color: $darkGray;
    text-align: right;
    margin: 0;
  }

  &__sum{
    font: em(30, 24) Lato;
    margin-left: em(20);
  }
}

@media screen and (max-width: 560px) {
  .constructor{
    font-size: em(14);

    &__row{
      flex-wrap: wrap;
      margin-bottom: em(40);

      &:first-child{
        margin-bottom: em(20);

        .constructor__central-column{
          margin-top: 0;
        }
      }

      &_last{
        flex-wrap: nowrap;

        .constructor__central-column{
          display: flex;
          justify-content: flex-end;
          margin-top: 0;
        }

        .constructor__column:last-child{
          width: 0;
        }
      }
    }

    &__column{
      width: auto;
      &:first-child{
        width: auto;
      }
    }

    &__central-column{
      width: 100%;
      order: 1;
      margin-top: em(20);
    }
  }
}