@use '@utils/utils' as *; 

@mixin line-on-bg($color){
  //background: linear-gradient(180deg, rgba(2,0,36,0) 45%, rgba($color,1) 45%, rgba($color,1) 55%, rgba(0,0,0,0) 55%);
}
.input-range{
  font-size:  em(16);
  -webkit-appearance: none;
  appearance: none;
  height: em(25); 
  @include line-on-bg($soybean);
  outline: none; 
  position: relative;
  background: none;

  &::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: em(4);
    border-radius: em(4);
    background-color: $soybean;
  }

  @mixin slider-thumb($color){
    width: em(40);
    height: em(40);
    box-sizing: border-box;
    border: em(2) solid $color;
    border-radius: 100%;
    background: rgba($color: #fff, $alpha: 0.9);
    cursor: pointer; 
    position: relative;
    z-index: 1;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    @include slider-thumb($soybean);
  }

  &::-moz-range-thumb { 
    @include slider-thumb($soybean);
  }
  
  &_color_sesame{
    &::after{
      background-color: $sesame;
    }

    &::-webkit-slider-thumb {
      border: em(2) solid $sesame;
    }
    &::-moz-range-thumb {
      border: em(2) solid $sesame;
    }
  }
  &_color_wheat{
    &::after{
      background-color: $wheat;
    }

    &::-webkit-slider-thumb {
      border: em(2) solid $wheat;
    }
    &::-moz-range-thumb {
      border: em(2) solid $wheat;
    }
  }
  &_color_corn{
    &::after{
      background-color: $corn;
    }

    &::-webkit-slider-thumb {
      border: em(2) solid $corn;
    }
    &::-moz-range-thumb {
      border: em(2) solid $corn;
    }
  }


  &:hover {
    opacity: 1;
  }
}