@use '@utils/utils' as *; 

.left-comment{
  position: relative;
  overflow: hidden;

  &__central-container{
    display: flex; 
    padding: em(30) 0 em(64) 0;
  }
 
  &__text-container{
    width: em(332);
    margin-right: em(18);
    z-index: 1;
    position: relative;

    &::before{
      content: "";
      display: block;
      width: em(2);
      background-color:$clearWhiteText;
      height: 100%;
      position: absolute;
      right: 0;
    }
  }

  &__text{
    margin-top: em(118);
    text-align: right;
    margin-right: em(18);
  }

  &__header{
    margin-top: em(-5);
    z-index: 1;
    position: relative;
  }

  &__bg-block{
    background-color: rgba($color: $green, $alpha: 0.87);
    position: absolute;
    height: 100%;
    width: 300%;
    transform: translateX(-100%);
    margin-left: em(34);
    top: 0;
  }
}

@media screen and (max-width: 900px) {
  .left-comment{
    &__central-container{
      flex-direction: column-reverse;
    }

    &__text{
      margin-top: em(18);
    }

    &__header{
      text-align: right;
      
    }

    &__header-container{
      margin-bottom: em(18);
      position: relative;
    }

    &__text-container{
        &::before{
          width: 300%;
          height: em(2);
        }
    }

    &__bg-block{
      height: 1000%;
      top: calc(100% - #{em(40)});
      left: em(332);;
    }
  }
}