@use '@utils/utils' as *; 

.nav-bar{
  padding: em(32) 0 em(36) 0;
  background: rgba($color:$darkGray, $alpha: 0.56) ;

  &__central-container{
    display: flex;
    justify-content: flex-end;
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item{
    $fz: 18;

    display: inline-block;
    padding: em(14, $fz) em(32, $fz) em(14, $fz) em(32, $fz);
    font: em(18) Fredoka_One;
    color: $whiteText;
    text-transform: uppercase;
    text-decoration: none;

    &:first-child{
      padding-left: em(16, $fz);
    }
    &:last-child{
      padding-right: em(16, $fz);
    }

    &:hover{
      border-bottom: em(4, $fz) solid $primaryColor;
      padding-bottom: em(10, $fz);
    }
  }
}

@media screen and (max-width: 900px) {
  .nav-bar{
    &__list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}