@use '@utils/utils' as *; 



.order-details{
  background:$detailsWhite;
  position: relative;
  display: inline-block;
  box-shadow: 0px em(24) em(48) 0px   rgba($color: #000, $alpha: 0.3), 0px em(24) em(24) 0px   rgba($color: #000, $alpha: 0.22);
  visibility: hidden;
  max-width: 100%;
  
  &_visible{
    animation: 0.3s ease-in-out forwards visible;
  }

  &_hidden{
    animation: 0.3s ease-in-out forwards hidden;
  }


  &__container{
    $ct: 940;
    width: em(780);
    box-sizing: border-box;
    max-width: 100%;
    padding: em(20) pr(115, $ct) em(20) pr(110, $ct);
    overflow: auto;
  }

  &__close-icon{
    position: absolute;
    top:em(30);
    right:em(30);
    width: em(25);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    transform: rotate(45deg);

    &:hover{
      transform: rotate(135deg);
    }
  }

  &__grain-icon{
    width: em(32);
    color: black;
    float: left;
  }

  .sesame-svg, .wheat-svg, .soybean-svg, .corn-svg{
    fill:$darkText;
  }

  .wheat-svg{
    fill:red;
  }

  &__table{
    border-collapse: collapse;
    margin-bottom: em(28);
    //min-width: 100%;
    //min-width: em(588);
    //table-layout: fixed;
    //overflow: hidden;
  }

  &__header-col{
    width: em(60.5);
    //min-width: em(60.5);
    padding: 0;
  }

  &__grain-col{
    height: em(44);
    width: em(60.5);
    padding: 0;
    padding-left: em(5);

  }

  &__numbers-col{
    width: em(70);
    min-width: em(70);
    padding: 0;

    &:last-child{
      text-align: right;
      padding-bottom: 0;
    }

    &_empty{
      min-width: 0;
    }
  }

  &__grain-col, &__numbers-col{
    vertical-align: bottom;
    box-sizing: border-box;
    padding-bottom: em(5);
    border-bottom: em(2) solid rgba($color: #000000, $alpha: 0.1);
  }

  &__seed-col{
    width: em(64);
    padding: 0;
    vertical-align: bottom;
  }

  &__delete-col{
    min-width: em(72);
    width: em(72);
    height: em(45);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
  }

  &__delete-icon{
    width: em(30);
    cursor: pointer;
  }

  &__numbers{
    $fz: 18;
    margin: 0;
    font: em($fz) Lato;
    color: $darkText;
    letter-spacing: em(1, $fz);
  }

  &__percent{
    $fz: 12;
    margin: 0;
    font: em(12) Lato;
    color: $primaryColor;
    letter-spacing: em(1, $fz);
  }

  &__primary-button{
    font-size: em(17);
  }

  &__bottom-row{
    float: right;
    display: flex;
    align-items: center;
    width: em(312);
    justify-content: space-between;
    transform: translateX(em(10));
  }

  $sum-fz:18;
  &__sum{
    font: bold em($sum-fz) Lato;
    color: $darkText;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: em(0.5,$sum-fz);
  }
  &__sum-number{
    font: em(24, $sum-fz) Lato;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 560px) {
  .order-details{
    &__container{
      padding-left: 2%;
      padding-right: 2%;
    }

    &__table{
      margin-left: auto;
      margin-right: auto;
    }

    &__seed-col{
      display: none;
    }

    &__header-col{
      &:first-child{
        display: none;
      }
    }

    &__bottom-row{
      transform: none;
    }
    
    &__delete-col{
      width: em(50);
    }

    &__close-icon{
      right: 3.5%;
    }
  }
}

@keyframes visible{
  from{
    opacity: 0;
    
  }
  to{
    visibility: visible;
    opacity: 1;
  }
}

@keyframes hidden{
  from{
    opacity: 1;
    visibility: visible;
  }
  to{
    visibility: hidden;
    opacity: 0;
  }
}