@use '@utils/utils' as *;

$fz: 34;

.primary-button{
  font: em($fz)/2.4 Fredoka_One;
  color: $clearWhiteText;
  text-transform: uppercase;
  border-radius: em(50,$fz);
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0px 0px em(6,$fz) em(6,$fz) rgba($color: #000, $alpha: 0.12),  0px em(6,$fz) em(6,$fz) 0px rgba($color: #000, $alpha: 0.24) ;
  padding: 0 em(54,$fz);
  background: $primaryColor;
}