@use '@utils/utils' as *;


.right-comment{
  position: relative;
  max-width: 100%;

  &__with-overflow-row{
    overflow: hidden;
  }

  &__central-container{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    position: relative;
  }

  &__cracker{
    width: em(380);
    max-width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &__cracker-mask{
    padding-bottom: 100%;
    border-radius: 100%;
    overflow: hidden;
    background: black  url("@img/cracker.jpg")  no-repeat center/cover;
  }

  &__header{
    margin-bottom: em(20);
    margin-top: em(-6);
    letter-spacing: em(4.4);
  }

  &__text-container{
    max-width: 100%;
    box-sizing: border-box;
    padding: em(30) em(80) em(58) em(80);
    position: relative;
  }

  &__text{
    width: auto;
    max-width: em(620, 18);
  }

  &__logo-text{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(43%);
  }

  &__bg-block{
    background: rgba($color: $pink, $alpha: 0.74);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 200%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .right-comment{
    &__cracker{
      transform: translateY(em(40));
    }
  }
}

@media screen and (max-width: 560px) {
  .right-comment{
    &__text-container{
      padding: em(20) em(20) em(50) em(20);
    }

    &__cracker{
      transform: translateY(em(100));
    }
  }
}