@use '@utils/utils' as *;

$fz:13;
.seed{
  position: relative;
  display: inline-block;

  &__counter{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(56%,-36%);
    display: inline-block;
    font: em(13) Lato;
    margin: 0;
    min-width:  em(13, $fz);
    text-align: center;
    color: $clearWhiteText;
    background: $primaryColor;
    padding: em(2, $fz) em(4, $fz) em(2, $fz) em(3, $fz);
    border-radius: 100%;
  }
}