@use '@utils/colors' as *;

.select{
  font: 22px Fredoka_One;
  color: $primaryColor;
  text-transform: uppercase;
  padding: 20px 80px;
  box-sizing: border-box;
  border: 1px solid $primaryColor;
  border-radius: 41px;
  background: url("/img/angle-down-red.svg") no-repeat right 9% top 53%;
  outline: none;
  position: relative;
  appearance: none;  
  scrollbar-width: none;

  &__item{
    font: 22px Avenir;
    color: $primaryColor;
    text-transform: uppercase;
    padding: 20px 20px;
    background: rgba($color: #fff, $alpha: 0.95);
  }
}