@use '@utils/utils' as *;

.top-line{
  background: $darkGray;
  
  &__logo{
    position: absolute;
    bottom: 0;
    left: 0.8%;
    transform: translate(0, 36%);
  }

  &__central-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__order-data{
    display: flex;
    align-items: center;
  }

  &__seed{
    margin: em(15) em(86) em(15) 0;
  }
  
  &__text{
    font: bold em(14) Lato ;
    color: $clearWhiteText;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: baseline;
  }

  &__sum{
    font: em(19) Lato;
    margin-left: em(28);
    letter-spacing: em(1);
  }

  &__details{
    align-self: stretch;
    cursor: pointer;
    margin-left: em(54);
    padding-right: em(54);
    background: url('@img/angle-down.svg') (no-repeat right em(20) center)/em(16);
    display: flex;
    align-items: center;
  }
}


@media screen and (max-width: 560px) {
  .top-line{
    &__seed{
      margin: em(40) em(15) em(40) 0;
    }

    &__order-data{
      width: 100%;
      justify-content: space-between;
    }
  }
}