@use '@utils/colors' as *;

.top-line{
  background: $darkGray;
  
  &__logo{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 36%);
  }

  &__central-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__order-data{
    display: flex;
    align-items: center;
  }

  &__seed{
    margin: 15px 80px 15px 0;
  }
  
  &__text{
    font: bold 14px Lato ;
    color: $clearWhiteText;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: baseline;
  }

  &__sum{
    font: 16px Lato;
    margin-left: 26px;
  }

  &__details{
    //align-self: stretch;
    cursor: pointer;
    margin-left: 52px;
    padding-right: 38px;
    background: url('@img/angle-down.svg') (no-repeat right 8px center)/16px;
    display: flex;
    align-items: center;
  }
}