@use '@utils/utils' as *;

.text{
  font: em(18)/1.5 Lato;
  margin: 0;
  color: $clearWhiteText;
  letter-spacing: em(1);

  &_dark{
    color: $darkText; 
  }
}

.header{
  font: em(44)/1.4 Fredoka_One;
  margin: 0;
  letter-spacing: em(1.8);
  color: $whiteText;
  text-transform: uppercase;

  &_color_gray{
    color: $grayText;
  }

  &_color_dark{
    color: $darkText;
  }
}

@media screen and (max-width: 560px) {
  .header{
      font-size: em(30);
      letter-spacing: em(2);
    }
  
}

.logo-text{
  font: em(60) Kristi;
  margin: 0;
  color: $whiteText;

  &_dark{
    color: $darkText;
  }
}

.link{
  font: 14px Lato;
  color: $clearWhiteText;
  letter-spacing: 1px;
  text-decoration: none;
}

.icon-link{
  display: flex;
  align-items: center;

  &__icon{
    margin-right: 14px;
    min-width: em(50);
  }
}

.icon-header{
  display: flex;
  align-items: center;

  &__header{
    margin-left: 20px;
    font: 16px Fredoka_One;
    color: $clearWhiteText;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.logo{
  position: relative;
  display: inline-block;
  text-decoration: none;

  &__text{
    position: absolute;
    right: em(-15);
    bottom: em(-5);

    color: $whiteText;
  }
}