@use '@utils/utils' as *;

.footer-section{
  padding-top: 2.1%;
  padding-bottom: 24%;
  background: url('img/footer-bg.jpg') no-repeat center/cover;

  &__central-container{
    display: flex;
    justify-content: space-between;
  }

  &__info{
    margin-left: em(50);
  }

  &__icon-header{
    margin-bottom: em(22);
  }

  &__icon-link{
    margin-bottom: em(22);
  }

  &__text{
    font: 14px/24px Lato;
    color: $clearWhiteText;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .footer-section{
    padding-bottom: 80%;
    padding-top: 5%;

    &__central-container{
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__column{
      margin: 0 5%;
      margin-bottom: 10%;
    }
  }
}

@media screen and (max-width: 560px) {
  .footer-section{
    padding-bottom: 120%;
    padding-top: 8%;

    &__central-container{
      justify-content: flex-start;
      flex-direction: column;
    }

    &__icon-link{
      max-width: 100%;
      flex-wrap: wrap;

      a{
        margin-top: em(10);
      }
    }
  }
}