@use '@utils/utils' as *;

.main-section{
  padding-top: em(85);
  padding-bottom: em(54);
  background:  url('@img/mask.png') no-repeat 52% 20%, url('@img/main-bg.jpg') no-repeat 52% 20%;
  box-shadow:  0px em(4) em(8) 0px rgba($color: #000, $alpha: 0.24) ;
  
  &__right-comment{
    width: 100%;
  }

  &__header{
    margin-top: em(49);
    text-align: center;
    margin-bottom: em(24);
    letter-spacing: em(4.4);
  }
}

@media screen and (max-width: 900px) {
  .main-section{
    font-size: calc(#{em(16)} * 16/18 );
  }
}