@import '@scss/fonts.scss';
@import '@scss/colors.scss';

body{
  background: #888;
  margin: 0;
}

.text{
  font: 16px/26px Lato;
  margin: 0;
  color: $clearWhiteText;

  &_dark{
    color: $darkText;
  }
}

.header{
  font: 40px/1.4 Fredoka_One;
  margin: 0;
  color: $whiteText;
  text-transform: uppercase;

  &_color_gray{
    color: $grayText;
  }

  &_color_dark{
    color: $darkText;
  }
}

.logo-text{
  font: 60px Kristi;
  margin: 0;
  color: $whiteText;

  &_dark{
    color: $darkText;
  }
}

.link{
  text-decoration: none;
}

.logo{
  position: relative;
  display: inline-block;
  text-decoration: none;

  &__text{
    position: absolute;
    right: -13px;
    bottom: -5px;

    color: $whiteText;
  }
}

.central-container{
  width: 940px;
  max-width: 95%;
  margin: 0 auto;
}

.nav-bar{
  padding: 36px 0 36px 0;
  background: rgba($color:$darkGray, $alpha: 0.56) ;

  &__central-container{
    display: flex;
    justify-content: flex-end;
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }

  &__item{
    display: inline-block;
    padding: 16px 32px calc(12px + 4px) 32px;
    font: 18px Fredoka_One;
    color: $whiteText;
    text-transform: uppercase;
    text-decoration: none;

    &:first-child{
      padding-left: 16px;
    }
    &:last-child{
      padding-right: 16px;
    }

    &:hover{
      border-bottom: 4px solid $primaryColor;
      padding-bottom: 12px;
    }
  }
}

.left-comment{
  position: relative;

  &__central-container{
    display: flex; 
    padding: 30px 0 64px 0;
  }

  &__text-container{
    width: 332px;
    border-right: 2px solid $clearWhiteText;
    margin-right: 18px;
  }

  &__text{
    margin-top: 130px;
  }

  &__header{
    max-width: 420px;
  }

  &__bg-block{
    background-color: rgba($color: $green, $alpha: 0.87);
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    margin-left: 34px;
    top: 0;
    z-index: -1;
  }
}

.right-comment{
  position: relative;
  max-width: 100%;

  &__with-overflow-row{
    overflow: hidden;
  }

  &__central-container{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    position: relative;
  }

  &__cracker{
    width: 380px;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &__cracker-mask{
    padding-bottom: 100%;
    border-radius: 100%;
    overflow: hidden;
    background: black  url("@img/cracker.jpg")  no-repeat center/cover;
  }

  &__header{
    margin-bottom: 44px;
    margin-top: -12px;
  }

  &__text-container{
    width: 620px;
    max-width: 100%;
    padding: 30px 80px 76px 80px;
    position: relative;
    
  }

  &__logo-text{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(43%);
  }

  &__bg-block{
    background: rgba($color: $pink, $alpha: 0.74);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 200%;
    height: 100%;
  }
}

.seed{
  position: relative;
  display: inline-block;
  
  &__counter{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(56%,-53%);
    display: inline-block;
    font: 14px Lato;
    margin: 0;
    min-width: 14px;
    text-align: center;
    color: $clearWhiteText;
    background: $primaryColor;
    padding: 3px 5px 5px 4px;
    border-radius: 100%;
  }
}