$primaryColor: #ff4200;
$darkGray: #323232;
$green: #83aa75;
$pink: #d7bfbf;

$clearWhiteText: #fff;
$whiteText: #f7f7f7;
$darkText: #333333;
$grayText: #666666;

$soybean: #00a651;
$sesame: #49743f;
$wheat:#aba000;
$corn: #989896;