@font-face{
  font-family: 'Lato';
  src: url("@fonts/Lato/Lato-Regular.ttf") format('truetype');
}

@font-face{
  font-family: 'Lato';
  src: url("@fonts/Lato/Lato-Bold.ttf") format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: 'Kristi';
  src: url("@fonts/Kristi/Kristi-Regular.ttf") format('truetype');
}

@font-face{
  font-family: 'Fredoka_One';
  src: url("@fonts/Fredoka_One/FredokaOne-Regular.ttf") format('truetype');
}

@font-face{
  font-family: 'Avenir';
  src: url("@fonts/Avenir/AEH.ttf") format('truetype');
}